<%= render 'shared/success', notice: notice %>
<div class="row mt-3">
  <div class="col-6 pl-5">
    <h3>Showing all users</h3> 
  </div>
</div>
<hr/>

<div class="flickr_pagination">
    <%= will_paginate @users, :container => false %>
</div>
<%= render 'cards', users: @users %>
<div class="flickr_pagination">
    <%= will_paginate @users, :container => false %>
</div>