<div id="page-content" class="container">
	<div class="row bg-white shadow rounded mt-5"> 
		<div class="justify-content-center p-5">
			<h3 class="text-center"> About us </h3>
			<p>
				We are a non-profit organizations who collects articles from various authors and sell it online and share the profit with the authors and help the needy community.
			</p>
			<p>
				<strong> Mailing Address </strong>
				<div class="w-100"> </div>
				1500 11th Street, 5th Floor
				Sacramento, CA 95814
			</p>
			<p>
				<strong> Phone Numbers </strong>
				<div class="w-100"> </div>
				Main Number: (916) 653-7244 
				<div class="w-100"> </div>
				Legislative Office: (916) 653-6774
				<div class="w-100"> </div>
				Communications Office - Media Only: (916) 653-6575
				<div class="w-100"> </div>
				Administration Office Fax: (916) 653-4795
			</p>
		</div>
	</div>
</div>