<div id="page-content">
    <div id="jumbotron-form" class="container">
        <div id="home-jumbotron" class="jumbotron text-center text-white">
        <h1 id="home-h1" class="display-4">Alpha Blog</h1>
        <p class="lead"><h1>This is home page</h1></p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
        </div>
    </div>
</div>