@import "bootstrap";

  html,
  body {
      height: 100%;
      background-color: lightgray;
  }

  #card-container {
    margin-top: 25px;
  }

  .card-style {
      min-height: 260px;
      max-height: 260px;
  }

  .user-card-style {
    min-height: 310px;
    max-height: 325px;
  }

  .card-text {
    max-height: 38px;
    min-height: 35px;
    overflow: inherit;
    text-overflow: ellipsis;
  }

  // .card-header {
  //   max-height: 55px;
  //   text-overflow: ellipsis;
  //   overflow: overlay;
  // }

  .navbar {
    background-color: black !important;
    height: 50px;
  }  

  .nav-link {
    color: white !important;
  }

  #jumbotron-form {
      margin-top: 50px;
  }

  #home-jumbotron {
      background-image: asset-url('bg.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 500px;
  }
    
  .navbar-brand {  
    color: white !important;
    font-size: 1.5rem;
  }

  #home-h1 {
      margin-top: 150px;
  }

  #page-content {
    flex: 1 0 auto;
  }

  #sticky-footer {
      flex-shrink: none;
  }

  .flickr_pagination {
    text-align: center;
    padding: 0.3em;
    cursor: default; }
    .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
      padding: 0.2em 0.5em; }
    .flickr_pagination .disabled {
      color: #aaaaaa; }
    .flickr_pagination .current {
      font-style: normal;
      font-weight: bold;
      color: #ff0084; }
    .flickr_pagination a {
      border: 1px solid whitesmoke;
      color: white;
      text-decoration: none; }
      .flickr_pagination a:hover, .flickr_pagination a:focus {
        border-color: white;
        background: whitesmoke;
        color: #003366; }
    .flickr_pagination .page_info {
      color: whitesmoke;
      padding-top: 0.8em; }
    .flickr_pagination .previous_page, .flickr_pagination .next_page {
      border-width: 2px; }
    .flickr_pagination .previous_page {
      margin-right: 1em; }
    .flickr_pagination .next_page {
      margin-left: 1em; }
